body {
    position: relative;
    background-color: $background;
    padding: 3.2rem 4.3% 4.5rem;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 12rem 0;
        background-image: url(../images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
    }

    .container {
        .container__card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .card__back {
                position: relative;
                background-image: url(../images/bg-card-back.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 28.6rem;
                height: 15.7rem;
                padding: 7.3rem 3.8rem 7.1rem 22.7rem;
                margin-left: 15.2%;

                .card__cvc {
                    @include text ($card-default, $sp-cvc-date, $default-contrast, none)
                }
            }

            .card__front {
                position: absolute;
                top: 12.6rem;
                background-image: url(../images/bg-card-front.png);
                background-repeat: no-repeat;
                background-size: contain;
                display: grid;
                grid-template-areas: "number number" "name date";
                align-content: space-between;
                width: 28.6rem;
                height: 15.7rem;
                padding: 8.5rem 2.2rem 2rem 1.9rem;
                margin-right: 15.2%;

                .card__number {
                    grid-area: number;
                    @include text ($card-large, $sp-number, $default-contrast, none)
                }

                .card__name {
                    grid-area: name;
                    @include text ($card-default, $sp-name, $default-contrast, uppercase)
                }

                .card__date {
                    grid-area: date;
                    justify-self: end;
                    @include text ($card-default, $sp-cvc-date, $default-contrast, none)
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 1.8rem;
                    left: 2rem;
                    width: 6rem;
                    height: 3rem;
                    background-image: url(../images/card-logo.svg);
                    background-repeat: no-repeat;
                    background-size: 5.4rem;
                    z-index: 0;
                }
            }
        }
    }
}