body {
    .container {
        .container__form {
            display: flex;
            flex-wrap: wrap;
            row-gap: 2rem;
            margin: 14.2rem .8rem 0;

            .form__container {
                width: 100%;

                &:nth-child(3) {              
                    width: 50%;

                    .form__input {
                        width: 40%;
                    }
                }

                &:nth-child(4) {
                    width: 50%
                }

                .form__label {
                    display: block;
                    @include text($form-small, $sp-label, $default-color-form, uppercase);
                    cursor: pointer;
                    margin-bottom: .8rem;
                }

                .form__alert {
                    display: block;
                    @include text($form-small, $sp-alert, $input-error, none);
                    margin-top: .8rem;
                }

                .form__input {
                    @include text($form-default, normal, $default-color-form, none);
                    width: 100%;
                    border: 1px solid $input-border;
                    border-radius: .8rem;
                    padding: 1.1rem 1.6rem;
                    cursor: pointer;

                    &::placeholder {
                        color: $form-placeholder;
                    }

                    &:focus {
                        outline: none;
                        border: 1px solid transparent;
                        background-image: linear-gradient(white, white), linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
                        background-origin: border-box;
                        background-clip: padding-box, border-box;
                    }

                    &.--border-error {
                        border: 1px solid $input-error
                    }
                }
            }

            .form__submit {
                @include text ($form-default, normal, $default-contrast, none);
                background-color: $default-color-form;
                border: none;
                border-radius: .8rem;
                padding: 1.3rem 0;
                width: 100%;
                cursor: pointer;
            }
        }
    }

}