@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

// Font-family
$def-f: 'Space Grotesk', sans-serif;

// Font-size
$card-default: 1rem;
$card-large: 1.8rem;
$form-default: 1.8rem;
$form-small: 1.2rem;
$complete-title: 2.8rem;
$complete-default: 1.8rem;

// Font-weight
$def-w: 500;

// Letter spacing
$sp-alert: 0.005em;
$sp-cvc-date: 0.06em;
$sp-card-name: 0.08em;
$sp-card-number: 0.122em;
$sp-label: 0.162em;
$sp-title: 0.13em;

// Colors
// Primary
$input-border: hsl(249, 99%, 64%), to hsl(278, 94%, 30%);
$input-error: hsl(0, 100%, 66%);

// Neutral
$background: hsl(0, 0%, 100%);
$default-contrast: hsl(0, 0%, 100%);
$default-color-form: hsl(278, 68%, 11%);
$input-border: hsl(270, 3%, 87%);
$form-placeholder: hsl(279, 6%, 55%);

// Mixin

@mixin text ($size, $spacing, $color, $transform){
    font-size: $size;
    letter-spacing: $spacing;
    color: $color;
    text-transform: $transform;
}